SegundoParcial/n8n/n8n-workflows/01-notificacion-dual.json
{
  "name": "01 - Notificaci贸n Dual (Telegram + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reserva-evento",
        "responseMode": "responseNode"
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "reserva-evento"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "IF - Validar Datos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "eventType",
              "value": "={{ $json.body.event }}"
            },
            {
              "name": "eventData",
              "value": "={{ $json.body.data }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}"
            }
          ]
        }
      },
      "id": "set-node",
      "name": "Set - Transformar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente que genera mensajes de notificaci贸n para un sistema de restaurante. Genera mensajes claros y profesionales.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera un mensaje de notificaci贸n para el evento: {{ $json.eventType }}. Datos: {{ JSON.stringify($json.eventData) }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 200\n}",
        "options": {}
      },
      "id": "groq-node",
      "name": "HTTP Request - Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "set-mensaje-node",
      "name": "Set - Extraer Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.mensaje }}"
      },
      "id": "telegram-node",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.WHATSAPP_NUMBER }}\",\n  \"text\": \"{{ $json.mensaje }}\"\n}",
        "options": {}
      },
      "id": "whatsapp-node",
      "name": "HTTP Request - Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-node",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Notificaci贸n enviada a Telegram y WhatsApp\"\n}"
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF - Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validar Datos": {
      "main": [
        [
          {
            "node": "Set - Transformar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Transformar Datos": {
      "main": [
        [
          {
            "node": "HTTP Request - Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Groq": {
      "main": [
        [
          {
            "node": "Set - Extraer Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Extraer Mensaje": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Evolution API": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T00:00:00.000Z",
  "versionId": "1"
}
